<h1 class="title">Articl.es</h1>
<h2 class="subtitle">... not just for the country of Spain</h2>

<%= link_to articles_path do %>
    <%= image_tag('famfamfam_silk_icons_v013/icons/arrow_left.png') %>
    list all articles
<% end %>
<br />
<br />
<h1>Creating a New Article</h1>
<br />


<%= render 'form', submit_button: 'Create!' %>

